body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: white;
}

.green-background {
    display: flex;
    background-color: green;
    width: 25%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.yellow-background {
    background-color: yellow;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pink-background {
    background-color: fuchsia;
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
}

.blue-background {
    background-color: blue;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.red-background {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.lightgreen-background {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.purple-background {
    background-color: purple;
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#top-container{
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#middle-container{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

#content2{
    width: 50%;
}

#blank{
    width: 25%;
}

#vertical-middle-container{
    display: flex;
    flex-direction: column;
    width: 25%;
}

#image{
    height: 50%;
}

#extra{
    height: 50%;
}